body {
  margin: 0;
}

.table {
  border-collapse: collapse;
  text-align: left;
  color: white;
  display: flex;
  justify-content: center;
}

.table-container {
  /* width: auto; */
  max-height: 400px;
  overflow: auto;
  display: flex;
  justify-content: center;
}

.custom-table {
  border-collapse: collapse;
  width: 20%;
}

.custom-table th {
  color: black;
  background-color: #90a4ae;
  border: 2px solid black;
}

.custom-table td {
  border: 2px solid #90a4ae;
}

.custom-table th,
.custom-table td {
  padding: 8px;
}

h1 {
  text-align: center;
  color: #fff;
}
