body {
  margin: 0;
}

.table {
  border-collapse: collapse;
  text-align: left;

}

.table-container {
  /* width: auto; */
  max-height: 400px;
  overflow: auto;
  display: flex;
  justify-content: center;
}

.custom-table {
  border-collapse: collapse;
  width: 20%;
}

.custom-table th,
.custom-table td {
  border: 1px solid #ddd;
  padding: 8px;
}

h1 {
  text-align: center;
}
